body {
  background: #121212;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #ffcc00;
}

.menu {
  display: grid;
  gap: 15px;
}

.card {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 8px;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 5px 0 15px;
  color: #ffcc00;
  font-weight: bold;
}

button {
  width: 100%;
  background: #ffcc00;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.cart-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.cart-item {
  background: #1f1f1f;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  margin-top: 20px;
  font-size: 22px;
  color: #ffcc00;
}

.whatsapp-button {
  background: #25d366;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  text-align: center;
}
